body {
    display: flex;
}

.cover {
    width: 400px;
    height: 400px;
    background-color: black;
    z-index: 20;
}

.disco {
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 50%;
    margin-left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: 
      
      linear-gradient(
        240deg, transparent 0%, rgba(40, 40, 40, .70) 50%) no-repeat 100% 0,
      
      linear-gradient(
        240deg, transparent 0%, rgba(42, 41, 40, .70) 90%),
      
      linear-gradient(
        240deg, transparent 0%, rgba(42, 41, 40, .70) 90%), 
      
      repeating-radial-gradient(
        #2a2928,
        #2a2928 8px,
        #ada9a0 9px,
        #2a2928 10px
      );
    box-shadow: 0px 0px 5px 0px rgba(42,41,40,1);
}

.pegatina {
    width: 160px;
    height: 160px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}
